

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.container {
    width: 1000px;
    margin: 20px auto;
    border: 1px solid #ccc;
    padding: 20px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header img {
    width: 100px;
}
.header div {
    text-align: center;
}
.header div h1 {
    margin: 0;
    color: #18BE78;
}
.info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.info div {
    width: 48%;
}
.info div p {
    margin: 5px 0;
}
.table-container {
    margin-top: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #ccc;
    height: 15px;
}
th, td {
    padding: 10px;
    text-align: left;
    height: 15px;
}
th {
    background-color: #18BE78;
    color: #fff;
}
.total {
    text-align: right;
    padding: 10px;
    background-color: #18BE78;
    color: #fff;
    font-size: 20px;
}
.calendar {
    margin-top: 0px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px; /* Ajuster la largeur du calendrier */
}
.calendar h2 {
    text-align: center;
    background-color: #18BE78;
    color: #fff;
    margin: 0;
    padding: 10px;
}
.calendar table {
    width: 100%;
    border-collapse: collapse;
    height: 500px; /* Ajuster la hauteur automatiquement */
}
.calendar th, .calendar td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}
.content-container {
    display: flex;
    margin-top: 20px; /* Ajout d'un espace entre les tableaux et le calendrier */
}
.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    color: #fff;
    cursor: pointer;
}
.buttons .quit {
    background-color: #ff4d4d;
}
.buttons .download {
    background-color: #18BE78;
}
